body{
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
}
.multiple-use{
    display: flex;
}
.first-half{
    width: 40%;
    margin: 5% 5%;
    
}
h1{
    font-size: 55px;
    border-left: 5px solid tomato;
    border-radius: 5px;
}
span{
    color: orange;

}
.second-half{
    width: 40%;
    margin: 5% 5%;
}
.second-half img{
    width: 60%;
}
a{
    background-color: tomato;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
h2{
    text-align: center;
    font-size: 50px;
}
.mission-vision-goals{
    width: 25%;
}
.mission-vision-goals img{
    width: 40%;
}
h4{
    font-size: 22px;
}
#mission{
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    background-color: lightgray;
    border-radius: 30px;
}
#vision{
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    background-color: lightpink;
    border-radius: 30px;
}
#goals{
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    background-color: lightyellow;
    border-radius: 30px;
}
.development{
    margin-top: 100px;
}
.fourty-percent{
    width: 40%;
    margin-left: 5%;
}
.fourty-percent img{
    width: 100%;
}
.sixty-percent{
    width: 65%;
    margin-left: 5%;
    margin-right: 10%;
}
h3{
    font-size: 50px;
}
.global-community{
    margin-top: 100px;
}
.my-addition{
    margin-top: 100px;
}
.people{
    width: 40%;
    margin-left: 10%;
    padding: 10px;

}
.people img{
    width: 60%;
}
h5{
    color: indianred;
    font-size: 18px;
}
footer{
    background-color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
}
#foot-color{
    color:white;
    font-size: 30px;
}
#pera-color{
    color: white;
}
#new-color{
    color:tomato;
}