body{
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
}
.multiple-use{
    display: flex;
}
.first-half{
    width: 40%;
    margin: 5% 5%;
    
}
h1{
    font-size: 50px;
    border-left: 5px solid tomato;
    border-radius: 5px;
}
span{
    color: orange;

}
.second-half{
    width: 40%;
    margin: 5% 5%;
}
.second-half img{
    width: 60%;
}
a{
    background-color: tomato;
    display: inline-block;
    padding: 15px 40px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
h2{
    text-align: center;
    font-size: 40px;
}
.mission-vision-goals{
    width: 25%;
}
.mission-vision-goals img{
    width: 40%;
}
h3{
    font-size: 20px;
}
#mission{
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    background-color: lightgray;
    border-radius: 30px;
}
#vision{
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    background-color: lightpink;
    border-radius: 30px;
}
#goals{
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    background-color: lightyellow;
    border-radius: 30px;
}
.development{
    margin-top: 100px;
}
.fourty-percent{
    width: 40%;
    margin-left: 5%;
}
.fourty-percent img{
    width: 100%;
}
.sixty-percent{
    width: 65%;
    margin-left: 5%;
    margin-right: 10%;
}
h4{
    font-size: 50px;
}
.global-community{
    margin-top: 100px;
}